/* ---------- HEADER STYLING ---------- */
header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 15px;
    align-items: center;
    position: relative;

    .header-logo {
        display: flex;
        line-height: 0;

        img {
            width: 75%;

            @media (min-width: 768px) {
                width: 50%;
            }
        }
    }
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var(--primary-color);
    width: 95%;
    margin: auto;

    @media (min-width: 768px) {
        width: 97%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75%;
    z-index: 999;
    background: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 25px;

    li,
    a {
        width: 100%;
        list-style: none;
        text-decoration: none;
        color: black;
        margin-bottom: 0.5em;
    }

    h3 {
        font-weight: normal;
        font-size: 1em;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .recent-articles {

        img,
        time,
        span,
        svg {
            display: none;
        }
    }

    .archive {
        width: 100%;

        .single-archive {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h3 {
                font-weight: normal;
            }
        }
    }
}

.sidebar.open {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    align-items: center;

    .navigation {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 1em;

            li,
            a {
                width: 100%;
                list-style: none;
                text-decoration: none;
                color: black;
                margin-bottom: 0.5em;
            }
        }

        a {
            font-weight: 600;
        }
    }

    #close-icon {
        text-align: right;
        /* padding-right: 15px; */
        margin-top: 2px;
        display: flex;
        align-self: end;
    }

    #close-icon,
    #hamburger-icon {
        cursor: pointer;
        line-height: 0;
        background: none;
        border: none;

        svg {
            fill: var(--secondary-color);
        }

        @media (min-width: 768px) {
            display: none;
        }
    }
}

/* ---------- MAIN SECTION STYLING ---------- */
.featured-article {
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding: 2em;

    /* Voor de overlay */
    position: relative;
    overflow: hidden;

    .featured-article-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .featured-article-information {
        display: flex;
        align-items: center;
        gap: 1em;

        .featured-article-date {
            display: flex;
            align-items: center;
            gap: .5em;
        }

        /* oranje label */
        span {
            background: var(--primary-color);
            padding: 5px 10px;
            border-radius: 15px;
        }
    }

    * {
        color: var(--light-text);
        fill: var(--light-text);
    }
}

.featured-article::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to top,
            hsl(0 0% 0% / .9),
            hsl(0 0% 0% / .4));
}

/* ----- DISTRICT ARTICLES STYLING ----- */
.home-articles {
    margin-top: 5em;
}

.district-articles {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media (min-width: 768px) {
        flex-direction: row;

        h3 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .article-cover {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .article-card-content {
        padding: 1em 1.5em;
        gap: 0.7em;
        display: flex;
        flex-direction: column;

        .article-intro {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.district-articles.algemeen .single-article {
    background-color: var(--light-background);

    time {
        color: var(--primary-color);
    }

    h3 {
        color: var(--secondary-color);
        /* width: 90%; */
    }
}

.district-articles.nieuw-west .single-article {
    background-color: var(--nieuw-west);

    time {
        color: var(--light-text);
    }

    h3 {
        color: var(--light-text);
        /* width: 90%; */
    }
}

.home-district-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    a {
        color: var(--dark-text);
        text-decoration: none;
    }
}

/* ----- DISTRICT PAGE STYLING ----- */
.district-hero {

    h2 {
        text-align: center;
        padding-bottom: 1em;
    }
}

.filter-and-sort {
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.targetgroup-select-container,
.sort-select-container {
    display: flex;
    flex-direction: column;
}

.single-article {
    height: 100%;
    padding: .5em;

    gap: 0.5em;
    display: flex;
    flex-direction: column;

    .article-cover {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .article-cover.fallback {
        object-fit: contain;
        background: var(--light-background);
    }
}

.single-article.algemeen {
    background-color: var(--light-background);

    time {
        color: var(--primary-color);
    }

    h3 {
        color: var(--secondary-color);
    }

    p {
        color: var(--dark-text);
    }
}

.single-article.nieuw-west {
    background-color: var(--nieuw-west);

    time {
        color: var(--light-text);
    }

    h3 {
        color: var(--light-text);
    }

    p {
        color: var(--light-text);
    }
}

.single-article.zuidoost {
    background-color: var(--zuidoost);

    time {
        color: var(--light-text);
    }

    h3 {
        color: var(--light-text);
    }

    p {
        color: var(--light-text);
    }
}

.single-article.oost {
    background-color: var(--oost);

    time {
        color: var(--light-text);
    }

    h3 {
        color: var(--primary-color);
    }

    p {
        color: var(--light-text);
    }
}

/* ----- SEARCH PAGE STYLING ----- */
.search-result,
.search-count {
    text-align: center;
}

/* ----- DETAILS PAGE STYLING ----- */
.back-link {
    text-decoration: none;
    color: black;
}

.single-article-cover {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    .article-information {
        display: flex;
        flex-direction: row;
        gap: .5em;
        align-items: center;
    }

    .article-intro {
        font-weight: bold;
    }

    .article-body {

        img {
            width: 100%;
            margin: 1em 0;
            height: 400px;
            object-fit: cover;
            border-radius: 20px;

        }
    }

    .share-socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        justify-content: center;

        position: relative;
        padding-top: 1.5em;


        svg {
            cursor: pointer;
            fill: black;
        }
    }
}


.share-socials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background: black;
    width: 100%;
}

.details-container.nieuw-west,
.details-container.zuidoost,
.details-container.oost {
    color: var(--light-text);

    .back-link {
        color: var(--light-text);

    }

    svg {
        fill: var(--light-text);
    }

    .share-socials {

        svg {
            fill: var(--light-text);
        }
    }

    .share-socials::before {
        background: var(--light-text);
    }
}

/* ----- COMMENTS SECTION STYLING ----- */
.article-comments {

    .comments-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        input:user-invalid,
        textarea:user-invalid {
            border: 1px solid red;
        }
    }
}

.recent-comments {
    .recent-comments-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;

        .single-comment {
            padding: 1em;
            background-color: var(--primary-color-lighter);
        }
    }

    .empty-state {
        text-align: center;
        opacity: .5;
        font-style: italic;
    }
}

/* footer */
footer {
    position: relative;
    padding-top: 3em;

    .footer-col-01 {
        .footer-logo {
            width: 50%;
        }
    }

    .footer-col-02 {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: .5em;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .footer-col-03 {}

    .footer-col-04 {

        .newsletter-form {
            display: flex;
            width: 100%;
            align-items: flex-end;
            gap: .5em;

            .email-field {
                flex: 1;
            }

            input {
                width: 100%;
            }
        }
    }
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background: var(--primary-color);
    width: 95%;
    margin: auto;
}